@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	font-family: "Lato", sans-serif;
}

.navbar-default {
	border: 0px;
	background-color: rgba(0,0,0,0.33);
	border-radius: 0px;
}

#white-brand, #white-about, #white-portfolio, #white-resume, #white-contact {
	color: white;
}

#white-brand:hover, #white-about:hover, #white-portfolio:hover, 
#white-resume:hover, #white-contact:hover {
	color: #888;
}

#white-brand-text {
	border: 2px solid white;
	padding: 8px;
}

#white-brand-text:hover {
	border: 2px solid #888;
}

.container {
	width: 90%;
}

.firstSection {
	background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)), url("https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=45fbe9046945ce711c299b8c6d26d998&auto=format&fit=crop&w=1931&q=80");
	background-size: cover;
	background-repeat: no-repeat no-repeat;
	height: 90vh;
	min-height: 765px;
}

.myTitle {
	position: relative;
	top: 206px;
	text-align: center;
	color: rgb(248, 248, 248);
	text-shadow: 0px 2px 3px rgba(255,255,255,0.2),
				 0px 4px 13px rgba(255,255,255,0.1),
				 0px 9px 23px rgba(255,255,255,0.1);
}

.myTitle h1 {
	font-size: 96px;
}

.secondSection {
	background-color: #eee;
}

ion-icon {
	width: 100%;
	height: 70px;
	text-align: center;
}

i {
	width: 100%;
	font-size: 3em;
	text-align: center;
}

.it-div, .cloud-div, .class-div {
	font-size: 16px;
	line-height: 200%;
	border: 3px solid #333;
	border-radius: 10px;
	margin-top: 40px;
	padding: 40px;
	margin-bottom: 40px;
}

.it-div > p, .cloud-div > p,
.class-div > p {
	text-align: justify;
	margin: 5%;
}

.secondSection-content {
	padding: 40px
}

@media (max-width: 1199px) {
	.class-div {
		margin-top: 40px;
		margin-bottom: 0px;
	}
	.cloud-div {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.it-div {
		margin-top: 0px;
		margin-bottom: 40px;
	}
}

.thirdSection {
	background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)), url("https://images.unsplash.com/photo-1513916711338-95cb6d164633?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80");
	background-size: cover;
	background-repeat: no-repeat no-repeat;
	height: 120vh;
	min-height: 650px;
}

.footer-icon {
	margin: 0 auto;
}

a > ion-icon {
	color: #ffffffcc;
}

a > ion-icon:hover {
	color: #777;
}

hr {
	width: 600px;
	border-top: 1px solid white;
	border-bottom: 1px solid rgba(0,0,0,0.9);
	margin-top: 40px;
	margin-bottom: 30px;
}

@media (max-width: 724px) {
	hr {
		width: 290px;
	}
}

.myTitle-content {
	padding: 10px;
	font-size: 30px;
}

.thirdSection-container {
	margin: 0 auto;
	padding-top: 38vh;
	width: 60%;
}

@media (max-width: 991px) {
	.thirdSection-container {
		padding-top: 20vh;
	}
}

@media (max-width: 767px) {
	.github-div, .twitter-div, .gmail-div {
		padding-top: 10vh;
	}

	.thirdSection-container {
		padding-top: 15vh;
	}
}